@import 'tailwindcss';

@theme {
    --font-sans: Roboto, sans-serif;
    --font-sans--font-feature-settings: 'cv11';
    --font-mono: "JetBrains Mono", monospace;;
    --font-mono--font-feature-settings: 'cv11';
}

@layer base {
    .typewriter-cursor::after {
        content: '|';
        animation: blink 1s infinite;
    }

    @keyframes blink {
        0%, 100% { opacity: 0; }
        50% { opacity: 1; }
    }

    .console-text::-webkit-scrollbar {
        width: 6px;
    }

    .console-text::-webkit-scrollbar-track {
        @apply bg-zinc-800 rounded-lg;
    }

    .console-text::-webkit-scrollbar-thumb {
        @apply bg-gray-200 rounded-lg;
    }

    .console-text::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-100;
    }

    .console-text p {
        @apply p-2 border-t border-gray-800;
    }

    .console-text p:first-child {
        @apply border-0;
    }

    .console-system-text-tag {
        @apply text-amber-700;
    }

    .console-player-text-tag {
        @apply text-green-700;
    }
}